{% extends "songs/base.html" %}

{% block content %}
<h2>Edit the Song</h2>
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <table>
        {{ form.as_div }}
        <script>
            $(document).ready(function () {
                $("#id_author_new").autocomplete({
                    source: "{% url 'songs:author_suggestions' %}",
                    minLength: 2, // Minimum characters to start suggesting
                    delay: 300, // Delay in milliseconds before making the request
                });
                $("#id_album_new").autocomplete({
                    source: "{% url 'songs:album_suggestions' %}",
                    minLength: 2, // Minimum characters to start suggesting
                    delay: 300, // Delay in milliseconds before making the request
                });
            });
        </script>
    </table>
    <div class="text-center">
        <input type="submit" value="Submit" class="btn btn-success mt-3 shadow" />
    </div>
</form>
{% endblock %}