
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body style="background-color: #90EE90;">
    <h1 style="font-size: 24px; font-weight: bold; display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 20px;">Register</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card custom-card shadow border-dark border-4">
                    <div class="card-body " style="background-color: #90EE90;" >
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success shadow">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
