{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Reproducir canción</title>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'howler/howler.min.js' %}"></script>
</head>
<body>
    <h1>{{ song.name }}</h1>
    <button id="playBtn">Reproducir</button>
    <button id="pauseBtn">Pausar</button>

    <script>
        $(document).ready(function() {
            var sound = new Howl({
                src: ["{{ song.audio_file.url }}"],
                html5: true
            });

            var playButton = document.getElementById("playBtn");
            var pauseButton = document.getElementById("pauseBtn");

            playButton.addEventListener("click", function() {
                try {
                    sound.play();
                } catch (error) {
                    showErrorAlert(error);
                }
            });

            pauseButton.addEventListener("click", function() {
                try {
                    sound.pause();
                } catch (error) {
                    showErrorAlert(error);
                }
            });

            function showErrorAlert(error) {
                var errorMessage = "Se produjo un error: " + error.message;
                window.alert(errorMessage);
                window.history.back();
            }
        });
    </script>
</body>
</html>



