{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Play Song</title>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
</head>
<body>
    <h1>Play Song</h1>
    <h2>{{ song.name }}</h2>
    <audio id="audioPlayer" src="{{ song.audio_file.url }}"></audio>
    <br>
    <button id="playButton">Play</button>
    <button id="pauseButton">Pause</button>
    <button id="stopButton">Stop</button>
    <br>
    <button onclick="goBack()">Back</button>

    <script>
        $(document).ready(function() {
            var audio = $("#audioPlayer")[0];

            $("#playButton").click(function() {
                audio.play();
            });

            $("#pauseButton").click(function() {
                audio.pause();
            });

            $("#stopButton").click(function() {
                audio.pause();
                audio.currentTime = 0;
            });

            function goBack() {
                window.history.back();
            }
        });
    </script>
</body>
</html>

