

{% block content %}
  <h2>Canciones</h2>
  <ul>
    {% for song in songs %}
      <li>{{ song.name }}</li>
    {% endfor %}
  </ul>

  <h2>Listas de reproducción</h2>
  <ul>
    {% for playlist in playlists %}
      <li>{{ playlist.name }}</li>
    {% endfor %}
  </ul>

  <h2>Álbumes</h2>
  <ul>
    {% for album in albums %}
      <li>{{ album.title }}</li>
    {% endfor %}
  </ul>

  <h2>Autores</h2>
  <ul>
    {% for author in authors %}
      <li>{{ author.name }}</li>
    {% endfor %}
  </ul>

  <h2>Géneros musicales</h2>
  <ul>
    {% for musicalgenre in musicalgenres %}
      <li>{{ musicalgenre.genre }}</li>
    {% endfor %}
  </ul>
{% endblock %}